.twoTables{
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */
}

.table{
    width: 45%;
}

.buttons{
    margin-right: 5px;
    background-color: #f25d18;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer .footerbutton{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
}

#edit{
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

#submitButton{
    background: #f25d18;
    color: white;
}

.projectSelector{

    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.selectPicker{
    width: 200px;
    height: 40px;
    margin-top: -40px;
    margin-bottom: 30px;
}