/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(228, 46, 46);
}

table tr th{
    background-color: #dddddd;
    border: 2px solid lightgray;
    text-align: center;
    width: 25%;
}

table tr td{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

.table{
  /* border: 1px solid black; */
  outline: 1px solid black;
  height: 450px;
  overflow: scroll;
}

.row{
  /* border: 1px solid red; */
  display: flex;
}



